apiserver:
   address:	127.0.0.1:8080
   apikey:	you-have-stolen-my-frotzblinger
   certFile: ../etc/certs/localhost.crt
   keyFile: ../etc/certs/localhost.key

signers:
   desec:
      email:       johan.stenstam@internetstiftelsen.se
      password:    Blurg99,123
      baseurl:     https://desec.io/api/v1
      limits:
         fetch:	   5 # ops/s
 	 update:   2 # ops/s
common:
   db:		/var/tmp/music.db
   tokenfile:	../etc/musicd.tokens.yaml
   command:	/usr/local/sbin/musicd
